<div id="donate-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close" aria-label="Close">&times;</button>
        <iframe
            title="Donation form powered by Zeffy"
            src="{{ site.donateUrl }}"
            style="border: 0; width: 100%; height: 100%;">
        </iframe>
    </div>
</div>
<button class="mobile-donate-btn" id="mobile-donate-btn">Donate</button>
